.infoContainer {
    display: flex;
    align-items: center;
    color: black;
    flex-direction: column;
    
    width: 50%;
    justify-content: center;
}

.infoContainer img {
    width: 400px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.actionsButtons{
    display: flex;
    gap: 3rem;
    padding: 20px;
}

