body{
    background-color: #e1e5ea;
}
.infoContainer {
    display: flex;
    align-items: center;
    color: black;
    margin-top: 10px;
    padding: 3rem;
    width: 50%;
    justify-content: center;
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.66);
    background-color: #f3f5f7;
}

.infoContainer img {
    width: 400px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-left: 20px;
}

.actionsButtons{
    display: flex;
    gap: 3rem;
    padding: 20px;
}

