:root {
	--main-red: #ff002f;
	--bgLight: #ededed;
	--bgDark: #1d1d1d;
}

/* font for titles and logo */
@font-face {
	font-family: "Recoleta-Bold";
	src: url("../../assets/RecoletaAlt-Bold.ttf");
}

.home1 {
	margin-top: -11rem;
	background-color: var(--bgLight);
}

.home1 img {
	width: 98%;
}

.img {
	height: 80vh;
	width: 20vw;
}

.container {
	max-width: 100%;
}

.container::-webkit-scrollbar {
	display: none;
}
