@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
	--main-red: #ff002f;
	--bgLight: #ededed;
	--bgDark: #1d1d1d;
}

.home1 {
	background-color: var(--bgLight);
}

.home1 img {
	width: 100%;
	margin-top: 3rem;
}

.img {
	height: 80vh;
	width: 20vw;
}

.container {
	width: 100%;

	display: flex;
	justify-content: center;
}

.container::-webkit-scrollbar {
	display: none;
}

.container2 {
	position: absolute;
}

.container3 {
	display: flex;
	position: absolute;
	flex-direction: row-reverse;
	align-items: flex-end;
	position: absolute;
	margin-top: 17.8rem;
	width: 48.5rem;
	height: 32rem;
}

.cuellito {
	margin-bottom: 4.4rem;
	margin-right: 30px;
}

.collection {
	margin-top: 9.5rem;
	margin-left: 10.5rem;

	position: absolute;
	width: 35rem;
}

.comments {
	font-size: rem;
	font-family: "Oswald";
	font-weight: 900;
}

.video {
	margin-top: 13%;
	margin-left: -1rem;
}

.gif {
	margin-bottom: 4.5rem;
	padding-right: 2rem;
	width: 20rem;
	height: 22rem;
}

.fondoSection {
	background-color: #ededed;
	background-repeat: no-repeat;
	background-size: cover;
	color: red;
}

.sectionCarousel {

	background-image: url('../../assets/carrusel.jpg');

	background-repeat: repeat;
	background-size: contain;
	background-attachment: fixed;
}

.homeContainer {
	height: 56.5rem;
	background-color: #ededed;
	overflow-x: hidden;
}
