@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'recoleta';
    src: url('../../assets/RecoletaAlt-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

.section {
    display: flex;
    flex-direction: column;
}

.button {
    text-decoration: none;
    color: white;
    display: flex;
    margin-top: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    border-color: rgb(255, 255, 255);
}

.img_gusto {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -15%;
    left: 3%;
    ;
}

.title_one {
    position: absolute;
    color: #ff0000;
    font-size: 230px;
    float: right;
    font-family: 'recoleta';
    font-weight: bold;
    top: 25%;
    left: 5%;
}

.marca_registrada {
    position: absolute;
    color: #ff0000;
    font-size: 30px;
    float: right;
    font-family: 'recoleta';
    font-weight: bold;
    top: 30%;
    left: 54%;
}

.title_two {
    position: absolute;
    color: #ff0000;
    font-size: 80px;
    float: right;
    font-family: 'Oswald';
    font-weight: bold;
    top: 26.5%;
    left: 62%;
}

.img_vicio {
    width: 270px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 62%;
    ;
}

.img_vicio_cut {
    width: 270px;
    height: 200px;
    position: absolute;
    top: 65.4%;
    left: 44%;
    ;
}

.img_vicio_two {
    width: 270px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 80%;
    ;
}

.cuadrado {
    width: 14%;
    height: 8%;
    position: absolute;
    top: 60%;
    left: 3%;
}

.title_three {
    position: absolute;
    color: #ff0000;
    font-size: 35px;
    float: right;
    font-family: 'Oswald';
    font-weight: bold;
    top: 68%;
    left: 3%;
}

.title_four {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 20px;
    float: right;
    font-family: 'Oswald';
    top: 80%;
    left: 3%;
}

.logo_inst {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80%;
    left: 41%;
    cursor: pointer;
}

.arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 85%;
    left: 40.5%;
    cursor: pointer;
}