body {
    background-color: #ededed;
}

.menu-body {
    padding-top: 15%;
    background-color: #ededed;
}

.listGroup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
}

.listGroupItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.listGroupItem option {
    font-weight: bold;
}


.listGroup img {
    width: 10rem;
}

.cardContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
}

.listGroup:hover {
    cursor: pointer;
}