.boton_refresh {
    height: 40px;
    width: 176px;
    box-sizing: border-box;
    border: transparent;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    outline: none;
    cursor: pointer;

}

.boton {
    height: 40px;
    width: 176px;
    box-sizing: border-box;
    border: transparent;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    outline: none;
    cursor: pointer;
}

.menu-body {
    background-color: #f3f5f7;
    min-height: 100vh;
}

.cardContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
    margin-top: 30px;
    margin-left: 50px;
}

.nav-item-category {
    margin-right: 8px;
    white-space: nowrap;
    padding: 6px 12px;
}

.nav-link-category {
    cursor: pointer;
    color: red;
}