@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Recoleta';
    src: url('../../assets/RecoletaAlt-Bold.ttf');
}

.recoleta {
    font-family: 'Recoleta';
    color: red;
}

.flechas {
    width: 14rem;
    margin-left: 1.3rem;
    margin-top: -1.4rem;
}

.arrow {
    transform: rotate(270deg);
    width: 1.1rem;
    margin-bottom: .2rem;
}

.sucursal {
    font-size: .9rem;
    font-family: 'Oswald';
    font-weight: 900;
    border: none;
    background-color: transparent;
}




.menu-body {
    margin-top: 8%;
    background-color: #ededed;
    width: 100%;
}

.listGroup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    font-weight: 900;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    margin-right: 3rem;

}

.listGroupItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.listGroupItem option {
    font-weight: bold;
}


.listGroup img {
    width: 12rem;
}

.cardContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;


}

.listGroup:hover {
    cursor: pointer;
}