body{
  background-color: #ededed;
}

.card img {
  
  object-fit: contain;
  object-position: top;
  transition: all 0.3s ease-in-out;
}


.card {
  display: flex;
  flex-direction: row;
  width: 40rem;
  background-color: transparent;
  border: none;
  
}
.card-title{
  font-weight: bold;
}

.card-body{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}