/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


.containerInfo{
    padding: 2rem;
    display: flex;
    height: 30vh;
    align-items: flex-start;
    justify-content: space-around;
}
.type2 {
    color: (244, 3, 3);
    font-family: 'Poppins', sans-serif;
    color: re;

}

.logo {
    height: 10rem;
    width: 10rem;
}

.titulo{
    font-weight: bold;
}

.img2 {
    height: 20rem;
    width: 15rem;
    margin: 1rem;
}

.gusto {
    color: rgb(244, 3, 3);
}

.a {
    text-decoration: none;
    color: rgb(244, 3, 3);
}

footer {
    background-image: url('../../assets/fondoFooter.jpg');
} */

@font-face {
    font-family: 'Recoleta';
    src: url('../../assets/RecoletaAlt-Bold.ttf');
}

.containerInfo {
    height: 17rem;
    margin-top: -1rem;
}

.footerContainer {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    gap: 1.5rem;
}

.iconos {
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    font-size: 2.2rem;
}

.iconos a {
    color: red
}

.footer1 {
    display: flex;
    justify-content: space-between;
}

.footer1 h1 {
    font-family: 'Recoleta';
    font-size: 5rem;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Arial';
    font-size: 1.5rem;
}

.boxes img {
    width: 100%
}

.boxes {
    margin-top: -1.8rem
}