@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


.containerInfo{
    padding: 2rem;
    display: flex;
    height: 30vh;
    align-items: flex-start;
    justify-content: space-around;
}
.type2 {
    color: (244, 3, 3);
    font-family: 'Poppins', sans-serif;

}

.logo {
    height: 10rem;
    width: 10rem;
}

.img2 {
    height: 20rem;
    width: 15rem;
    margin: 1rem;
}

.gusto {
    color: rgb(244, 3, 3);
}

.a {
    text-decoration: none;
    color: rgb(244, 3, 3);
}

/* footer {
    background-image: url('../../assets/fondoFooter.jpg');
} */