@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
 
 
 .container {
    background-image: url('../../assets/hamburguesa3.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    
 }
 .bloque {
    width: 60rem;
    height: 18rem;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #9b051c;
    
 }

 .left {
    display: flex;
    flex-direction: column;
    width: 15rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
   
 }

 .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    background-color: aliceblue;
    color: black;
    gap: 2rem;
 }

 .info {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 5px;
 }

.titulo {
    border-bottom: 1px solid black;
    font-family: 'Hanken Grotesk', sans-serif;
    
}

.botones {
    display: flex;
    border-top: #9b051c;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
   
}


.containerLogin {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ef1939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button {
    
    border: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    border-radius: 10px;
    
}

.button:hover{
	background-color: #efe819;
    
}  

.imagen {
    height: 8rem;
    border-radius: 100%;
    margin: 1.5rem;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

