@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');



body {
    background-color: #ededed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    height: 90vh;
    width: 100vw;
    background-color: #ededed;

}

.bloque {
    width: 40rem;
    height: 30rem;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url('../../assets/fondoFooter.jpg');
    background-size: contain;

}

.left {
    display: flex;
    flex-direction: column;
    width: 15rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    background-color: aliceblue;
    color: black;
    gap: 2rem;
}

.info {
    margin: 1rem;

    justify-content: space-between;
    gap: 3rem;
    padding: 5px;
}

.titulo {
    border-bottom: 1px solid black;
    font-family: 'Hanken Grotesk', sans-serif;

}

.botones {
    display: flex;
    border-top: #9b051c;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}


.containerLogin {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ef1939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button {
    background-color: rgb(#b71c1c);
    border: none;
    color: rgb(0, 0, 0);
    padding: 0.6rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    border-radius: 10px;

}

.button:hover {
    background-color: rgb(221, 23, 23);
    color: aliceblue;
}


.imagen {
    height: 8rem;
    border-radius: 100%;
    margin: 1.5rem;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.text2 {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

a,
link {
    text-decoration: none;
}