.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 10rem;
}


.button {
    background-color: rgb(#b71c1c);
    border: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    border-radius: 10px;
    
}

.button:hover{
	background-color: rgb(14, 70, 8);
}