.button {
    border: none;
    color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background-color: transparent;
    height: 2rem;
    
}

.button:hover{
	color: black;
}

