@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
	--main-red: #ff002f;
	--second-color: #010203;
}

@font-face {
	font-family: "Recoleta";
	src: url("../../assets/RecoletaAlt-Bold.ttf");
}

.navbar-nav {
	align-items: center;
	display: flex;
}

.nav-link-custom-notSelected {
	text-decoration: none;
	font-size: 1.5rem;
	margin-left: 2rem;
	font-family: "Oswald", sans-serif;
	margin-bottom: 1rem;
	font-weight: 900;
	color: #ff8383;
}

.nav-link-custom-selected {
	text-decoration: none;
	font-size: 1.5rem;
	margin-left: 2rem;
	font-family: "Oswald", sans-serif;
	margin-bottom: 1rem;
	font-weight: 900;
	color: #ff0000;
}

.nav-custom {
	justify-content: flex-end;
	text-align: center;
	display: flex;
	width: 90%;
	max-width: 120rem;
}

.nav-container-custom {
	height: 16vh;
	background: rgb(237, 237, 237);
	background: linear-gradient(
		180deg,
		rgba(237, 237, 237, 1) 61%,
		rgba(189, 189, 189, 1) 100%
	);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.nav-item {
	font-size: 20px;
	border-radius: 20px;
}

.nav-link-custom:active {
	color: #ff002f;
}

.image-logo {
	height: 60x;
	width: 60px;
	border-radius: 50%;
}

.picture-img {
	width: 77px;
	height: 77px;
	border-radius: 100%;
}

.bi-cart4 {
	margin: 4rem;
	color: red;
}

.carritoLleno {
	background-color: #01ca40;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	font-weight: bold;
	font-size: 1.1rem;
	font-family: "Recoleta";
	color: black;
	margin-left: 5.7rem;
	position: absolute;
	margin-top: 3.4rem;
	text-align: center;
}
