@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');


.container {
	align-items: center;
	justify-content: space-around;
	display: flex;
	background: rgb(237, 237, 237);
	background: linear-gradient(
		180deg,
		rgba(237, 237, 237, 1) 61%,
		rgba(189, 189, 189, 1) 100%
	);
	position: sticky;
	z-index: 9999999999999;
}

.enlaces {
	color: aliceblue;
	gap: 2rem;
	display: flex;
	justify-content: space-around;
	
}

.enlace{
	text-decoration: none;
	font-size: 1.5rem;
	margin-left: 2rem;
	font-family: "Oswald", sans-serif;
	margin-bottom: 1rem;
	font-weight: 900;
	color: #ff0000;
}


.Carrito {
	position: sticky;
}

.imagen {
	width: 77px;
	height: 77px;
	border-radius: 100%;
}