.navbar-nav {
    align-items: center;
    display: flex;
}
.nav-item:hover{
    background-color: rgb(221, 23, 23);;
    color: #fff;
}

.nav-item{
    font-size: 20px;
    border-radius: 20px;
}
.nav-link:hover {
    color: #fff;
}